<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <section>
            <img src="/images/logo-mercado-liebre.svg" alt="logo">
            <p>Lugar para poner la barra de busqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            
        </section>
        <nav>
            <ul>
                <li><a href="ingresa">Ofertas</a></li>
                <li><a href="ingresa">Tiendas Oficiales</a></li>
                <li><a href="ingresa">Vender</a></li>
                <li><a href="ingresa">Ayuda</a></li>

            </ul>
            <ul>
                <li><a href="ingresa">Creá tu cuenta</a></li>
                <li><a href="ingresa">Ingresá</a></li>
                <li><a href="ingresa">Mis compras</a></li>
            </ul>
        </nav>
    
    </header>
    <section>
        <main>
            <h1>Basado en tu última visita</h1>
            <img src="/images/img-cafetera-moulinex.jpg" style ="width:100%"/>
            <p>$6.770</p>
            <p>40% OFF</p>
            <h1>Cafetera Moulinex</h1>
        </main>
        <main>
            
                <img src="/images/img-macbook-pro-2019.jpg" style ="width:100%"/>
                <p>$230.000</p>
                <p>20% of</p>
                <h1>MacBook Pro 2019</h1>
            
        </main>
        <main>
            <img src="/images/img-samsung-galaxy-s10.jpg" style ="width:100%;"/>
            <p>$70.500</p>
            <p>10% of</p>
            <h1>Samsung Galaxy S10</h1>
        </main>
        <main>
            <img src="/images/img-tv-samsung-smart.jpg" style ="width:100%;"/>
            <p>$23.200</p>
            <p>5% of</p>
            <h2>SmartTv Samsung 43"</h2>
        </main>
        <main>
            <ul type="disc">
                <li><h3>Sección de Ofertas</h3></li>
            </ul>
            <img src="/images/img-cafetera-moulinex.jpg" style="width:100%;"/>
            <p>$6.770</p>
            <p>40% of</p>
            <h1>Cafetera Moulinex</h1>
        </main>
        <main> 
            <img src="/images/img-macbook-pro-2019.jpg" style="width:100%;"/>
            <p>$230.000</p>
            <p>20% of</p>
            <h1>MacBook Pro 2019</h1>
        </main>
        <main>
            <img src="/images/img-samsung-galaxy-s10.jpg" style="width:100%;"/>
            <p>$70.500</p>
            <p>10% of</p>
            <h1>Samsung Galaxy S10</h1>
        </main>
        <main>
            <img src="/images/img-tv-samsung-smart.jpg" style="width:100%;"/>
            <p>$23.200</p>
            <p>5% of</p>
            <h1>SmartTv Samsung 43"</h1>
        </main>
        <footer>
            <ul type="disc">
                <li><h4>Pagá con tarjeta o en efectivo</h4></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </ul>
            <ul type="disc">
                <li><h4>Envío gratis desde $ 2.500</h4></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </ul>
            <ul type="disc">
                <li><h4>Seguridad, de principio a fin</h4></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </ul>
            <ul>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </ul>
        </footer>

    </section>
</body>
</html>